.properties {
  .property-list {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .property-list-item {
      margin: 10px 0;
      box-sizing: border-box;
      list-style: none;
      width: 30%;
      text-align: center;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      background-color: #fff;

      .property-item-img-container {
        .property-item-img {
          height: 220px;
          background-size: cover;
          background-position: center center;
          border-radius: 5px 5px 0 0;
        }
      }

      .property-item-text {
        height: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 60px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
